<br>
<h3>Edit <%=@activity.name%></h3>
<p><%=@activity.description%></p>
<form action="/activities/<%=@activity.id%>" method="POST">
  <label>Name</label>
  <input type="text" name="name" value="<%=@activity.name%>">
  <br>
  <label>Description</label>
  <input type="text" name="description" value="<%=@activity.description%>">
  <br>
  <label>Mark the Destination your Activity belongs to:</label>
  <%@destinations.all.each do |destination|%>
    <label><%=destination.name%><input id="<%destination.name%>" type="checkbox" name="destinations[]" value="<%=destination.id%>" <%='checked' if @activity.destination == destination %>></label>
  <% end %>
  <br>
  <input type="submit" value="Update">
</form>
<form action="/activities/<%=@activity.id%>/delete" method="POST">
  <input id="hidden" type="hidden" name="_method" value="delete">
  <input type="submit" value="Delete Activity" id="submit">
</form>
